@font-face {
	font-family: 'MyCustomFont';
	src: url('/assets/fonts/MyCustomFont.woff2') format('woff2');
}

body {
	font-family: 'MyCustomFont', sans-serif;
	font-weight: 400;
	font-style: normal;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'MyCustomFont', serif;
}